body {
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }

  .acierto{
    font-size:1.3rem;
    color:green;
  }

  .fallo{
    font-size:1.3rem;
    color:red;
  }